.featureContainer {
    background-color:#f0f0f0 ;
}

.title {
    margin: auto;
    padding: 2rem;
    text-align: center;
}

.title h2 {
    font-weight: bold;
}

.featureItem {
    display: flex;
    justify-content: space-between;
    padding:1rem 10% 1rem 10%;
}